.settings{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.settings::-webkit-scrollbar{
    display: none;
}

.settings{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header{
    padding-bottom: 0;
    padding-left: 0;
    
}
.header h2{
    margin-left: 20px;
}

.btn-container > button {
    
        background-color: var(--twitter-color);
        border: none;
        color: white;
        font-weight: 900;
        border-radius: 30px;
        margin: 20px;
        padding: 10px;
        
    
}