.widget{
    flex: 0.3;
}
.widget-input{
    display: flex;
    align-items: center;
    background-color: rgba(218, 223, 225, 0.4);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.widget-input > input {
    border: none;
    background-color: inherit;
    padding-left: 5px;
    border-radius: 20px;
    outline: none;
}

.widget-container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: rgba(218, 223, 225, 0.4);
    border-radius: 20px;
}

.widget-container > h2{
    font-size: 18px;
    font-weight: 800;
}