body{
  --twitter-color: #50b7f5;
  --twitter-background: #3A3B3C;
  --twitter-phone: black;
  color:cornsilk;
  background-color: var(--twitter-phone);
}

.app{
  
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

a {
  color: inherit;
}